#banner
  .banner_content
    %h1 Document Manager
    %p Keep your documents in one place
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p This tool helps you keep all your documents into one place. Come back and review any document that you have already saved. You can also add new ones.


#bottom_cta
  .wrapper
    %h2 Move forward!
    %br
    %button= link_to "Join Now", new_user_registration_path
